<% include partials/header %>
<div class="container forumBG">
    <div class="container CreateBtn">
        <div class="row">
            <div class="col-sm-12">
                <a href="/Forum/new" class="btnA"><button class="myBtnAlt">Create A Post</button></a>
            </div>
        </div>
    </div>
    <div class="container body">
        <div class="row">
            <% Post.forEach(function(Post){ %>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img" src="<%= Post.image %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= Post.name %></h5>
                        <p><em>Posted by:</em> <a class="UserA" href="/users/<%= Post.author.id %>"> <%= Post.author.username %></a></p>
                        <!-- <p class="card-text"><%= Post.textField %></p> -->
                        <a href="/Forum/<%= Post._id %>"><button class="myBtn">See More</button></a>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
</div>
<% include partials/footer %>